.inner {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.orderSummary {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;

  border-radius: 8px;
  background: var(--white-1);
  padding: var(--spacing-md);
  display: flex;
  justify-content: space-between;
}
