.inner {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.orderSummary {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;

  display: flex;
  justify-content: space-between;

  margin-top: var(--spacing-md);
}
